body { 
  background-color: rgb(255, 228, 196);
}


header {
  display: flex;
  justify-content: center;
}


header img {
  height: 150px;
}

/* https://stackoverflow.com/questions/39725592/loop-div-background-color-through-all-rainbow-colors-gradually-css */

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  background-color: #FF0000;
  animation: bgColor 15s infinite linear;
  background-size: auto;
  display: block;
  text-align: center;
  color: azure;
  padding: 30px;
  margin: 30px 30px;
  border-radius: 5rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}


@keyframes bgColor {
  0% {
    background-color: #FF0000;
  }
  25% {
    background-color: #0a1302;
  }
  75% {
    background-color: #0a1302;
  }
  100% {
    background-color: #FF0000
  }
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, .5);
  background-size: auto;
  display: block;
  text-align: center;
  color: rgb(8, 8, 8);
  padding: 30px;
  margin: 30px 30px;
  border-radius: 5rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  width: 300px;
  background-color: rgb(255, 255, 255);
  background-size: auto;
  display: block;
  text-align: center;
  color: rgb(8, 8, 8);
  padding: 15px;
  margin: auto;
}

#countNum {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  width: 300px;
  background-size: auto;
  display: block;
  text-align: center;
  color: rgb(8, 8, 8);
  margin: auto;
}

#imgContainer {
  display: flex;
  justify-content: center;
}

#imgContainer img {
  width: 11rem;
  height: 11rem;
  padding: 20px;
  margin: 25px 25px;
  background-size: 10rem;
  background-color: rgb(177, 177, 177);
}

#imgContainer img:hover {
  cursor: pointer;
  background-color: rgb(0, 204, 27);
}

#resultsContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#show-results-btn {
  background-color: rgb(59, 59, 59);
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  padding: 10px;
  margin-bottom: 2rem;
  border-radius: 5px;
  color: azure;
  font-size: 1.5rem;
  border: 2px solid white;
  display: flex;
  justify-content: center;
}

#show-results-btn:hover {
  cursor: pointer;
}

#chartContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

canvas {
  max-height: 350px;
  max-width: 960px;
  font-size: 1.5rem;
}

footer a {
  font-family: 'roboto';
  padding: .25rem;
  display: flex;
  justify-content: center;
  color: #000000;
  text-decoration: none !important;
  margin-top: 1rem;
  background-color: gray;;
}